<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-if指令</title>
</head>

<body>
  <div id="app">
    <input type="button" value="切换显示" @click="toggleIsShow">
    <p v-if="isShow">123</p>
    <p v-show="isShow">123456 - v-show修饰</p>
    <h2 v-if="temperature>=35">高温</h2>
  </div>
  <!-- 生产环境版本，优化了尺寸和速度 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        isShow: false,
        temperature: 45
      },
      methods: {
        toggleIsShow: function() {
          this.isShow = !this.isShow;
        }
      },
    })
  </script>
</body>

</html>