body {
    /* position: relative; */
    background-color: #f7f7f8;
}

/* 公共样式 */
.red {
    color: #cf4444;
}
.pannel {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}
/* 公共样式 */

/* 主体内容：滑动查看 */
.main {
    /* 80px：为了内容不被底部区域盖住 */
    padding: 12px 11px 80px;
    /* test */
    /* background-color: aqua; */
}

.main .user_msg {
    display: flex;
    align-items: center;

    padding: 15px 0 14px 11px;
    /* test */
    /* background-color: #cf4444; */
}

.main .user_msg .local {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    border-radius: 50%;
}

.main .user_msg .user {
    /* display: block; */
    flex: 1;

    margin-left: 11px;
}
.main .user_msg .user .top {
    display: flex;
    align-items: center;
    /* width: 137px; */

    /* height: 14px; */
    font-family: PingFangSC-Regular;
    /* font-size: 15px; */
    /* color: #262626; */
}
.main .user_msg .user .top h5 {
    width: 55px;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #262626;
    /* test */
    /* background-color: red; */
}
.main .user_msg .user .top p {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    /* test */
    /* background-color: blue; */
}

.main .user_msg .bottom {
    width: 260px;
    height: 30px;
    margin-top: 12px;

    font-family: PingFangSC-Regular;
    font-size: 12px;
    letter-spacing: 0px;
    color: #333333;
}
.main .user_msg .more {
    width: 44px;
    height: 44px;
    /* background-color: #2ad1ff; */
    /* test */
    /* border: solid 3px #3a9cff; */

    text-align: center;
    line-height: 44px;
    vertical-align: middle;
}

.main .user_msg .more i {
    vertical-align: middle;
}

.main .goods {
    display: flex;
    padding: 11px 0 11px 11px;
}

.main .goods .pic {
    width: 85px;
    height: 85px;
    margin-right: 12px;
}

.main .goods .info {
    flex: 1;
}

.main .goods .info h5 {
    margin-bottom: 7px;

    font-family: PingFangSC-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #262626;
}

.main .goods .info p{
	width: 95px;
	height: 16px;
    margin-bottom: 9px;
	background-color: #f7f7f8;

	font-family: PingFangSC-Regular;
	font-size: 11px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #888888;

}
.main .goods .info .price span:nth-child(1){
	font-size: 9px;
}

.main .goods .info .price span .now{
	font-size: 16px;
}

.main .goods .info .price span:nth-child(2){
    width: 26px;
    margin-left: 12px;

    color: #999999;
	font-size: 9px;
    text-decoration: line-through;
}
.main .goods .info .price span .org{
	font-size: 12px;
}
.main .goods .count {
    width: 44px;
    height: 44px;
    /* test */
    /* background-color:red; */

    text-align: center;
    line-height: 44px;
}
.main .rest{
    padding: 15px;

}
.main .rest div{
    display: flex;
    justify-content:space-between;

    margin-bottom: 29px;
    /* padding: 14px; */


}
.main .rest div:last-child{
    display: flex;
    justify-content:space-between;

    margin-bottom: 0;
    /* padding: 14px; */


}
.main .rest div:nth-child(2){
    justify-content:flex-start
}

.main .rest div:nth-child(2) h5{
    margin-right: 19px;
}
.main .rest div h5{
    height: 13px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 21px;
	letter-spacing: 0px;
	color: #262626;
}

.main .rest div p{
    height: 13px;
    font-family: PingFangSC-Regular;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 21px;
	letter-spacing: 0px;
	color: #262626;
}
.main .rest div:nth-child(2) p{
    font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 21px;
	letter-spacing: 0px;
	color: #989898;
}

.main .fee{
    padding: 15px;
}
.main .fee div{
    display: flex;
    justify-content:space-between;

    margin-bottom: 29px;
}

.main .fee div:last-child{

    margin-bottom: 0;
}

.main .fee div h5{
    width: 52px;
	height: 13px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 21px;
	letter-spacing: 0px;
	color: #262626;

}

.main .fee div span{
    height: 10px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 21px;
	letter-spacing: 0px;
	color: #262626;
}

.main .fee div:last-child span{
    color: #cf4444;
}
/* 主体内容：滑动查看 */

/* 底部支付：固定定位 */
.pay {
    display: flex;
    /* 主轴对齐方式 */
    justify-content: space-between;
    /* 侧轴对齐方式 */
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 80px;

    padding: 0 11px;
    /* test */
    /* background-color: blue; */
    border-top: 1px solid #ededed;
}
.pay .left {
    /* test */
    /* background-color: aquamarine; */
    font-size: 12px;
}

.pay .left .price i {
    font-size: 20px;
}



.pay .right a {
    display: block;
    width: 91px;
    height: 35px;
    background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
    border-radius: 3px;

    text-align: center;
    line-height: 35px;
    font-size: 13px;
    color: #ffffff;
}

/* 底部支付：固定定位 */
