/* 多行注释
 多行注释*/
.box {
  width: 110px;
  width: 80px;
  width: 200px;
  width: 1.81333333rem;
}
.father {
  width: 100px;
}
.father .son {
  color: aqua;
}
.father .son:hover {
  color: red;
}
.box {
  color: green;
}
